{#{% load static %}#}
{#{% include 'header.html' %}#}
{#<link rel="stylesheet" href="{% static 'style.css' %}">#}
{#<a href="{% url 'list_view' %}" class="create3"><button type="submit">Назад</button></a>#}
{#<form action="{% url 'add_comment_view' %}" method="POST" enctype="multipart/form-data">#}
{#    {% csrf_token %}#}
{#    {{ form.as_p }}#}
{##}
{##}
{#        <button type="submit" class="create1">Сохранить</button>#}
{#        <button type="reset" class="create2">Очистить</button>#}
{##}
{##}
{##}
{#</form>#}
{##}
{#{% include 'footer.html' %}#}

<!-- comments/templates/comments/add_comment.html -->
{#{% load static %}#}
{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
{#    <title>Add Comment</title>#}
{#    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">#}
{#</head>#}
{#<body>#}
{#    <h1>Add Comment</h1>#}
{#    <form method="post">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <button type="submit">Submit</button>#}
{#    </form>#}
{#    #}
{#</body>#}
{#</html>#}
{#{% load static %}#}
{#{% include 'header.html' %}#}
{#<link rel="stylesheet" href="{% static 'style.css' %}">#}
{#<a href="{% url 'list_view' %}" class="create3"><button type="submit">Назад</button></a>#}
{#<form action="{% url 'add_comment_view' %}" method="POST" enctype="multipart/form-data">#}
{#    {% csrf_token %}#}
{#    {{ form.as_p }}#}
{##}
{##}
{#        <button type="submit" class="create1">Сохранить</button>#}
{#        <button type="reset" class="create2">Очистить</button>#}
{##}
{##}
{##}
{#</form>#}
{##}
{#{% include 'footer.html' %}#}


