{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">


    <footer>
        <div class="container">
            <div class="footer-logo">
                <a href="{% url 'list_view' %}">Xiaomi</a>
            </div>
            <div class="footer-links">
                <ul>
                    <li><a href="https://www.mi.com/ru/">О компании</a></li>
                    <li><a href="https://www.mi.com/ru/">Продукты</a></li>
                    <li><a href="https://mi-shop.com/news/">Новости</a></li>
                    <li><a href="https://mi-shop.kg/contacts/">Контакты</a></li>
                    <li><a href="https://www.mi.com/ru/support/">Поддержка</a></li>
                </ul>
            </div>
            <div class="social-icons">
                <a href="https://www.facebook.com/XiaomiGlobal/?locale=ru_RU"><img src="icon-facebook.svg" alt="Facebook"></a>
                <a href="https://x.com/xiaomi"><img src="icon-twitter.svg" alt="Twitter"></a>
                <a href="https://www.instagram.com/mi_shop.kg/"><img src="icon-instagram.svg" alt="Instagram"></a>
                <a href="https://www.youtube.com/channel/UCCspJ6mFfCwOV4qFjZWi2wg"><img src="icon-youtube.svg" alt="YouTube"></a>
            </div>
            <div class="newsletter">
                <p>Подпишитесь на наши новости:</p>
                <form action="#">
                    <input type="email" placeholder="Ваш Email" required>
                    <button type="submit">Подписаться</button>
                </form>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 Xiaomi. Все права защищены.</p>
        </div>
    </footer>
</body>
</html>